body {background: #F5F3EF;
      font-family: "Yu Gothic", "Hiragino Sans", "Meiryo", sans-serif;
      font-weight: 550;}
main {max-width: 700px;
      margin: 40px auto 0;
      border-radius: 8px;
      background-color: white;
      padding: 40px;
      padding-top: 10px;}
h1 {width: fit-content;
   margin: 0 auto;
   background-color: beige;
   padding: 20px;
   border-radius: 8px;}
h2 {background-color: aliceblue;
    text-decoration: underline;}